<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="topnav">
       <a class="topnav-left" href="{% url 'home' %}">Animal Care</a>
        <div class="topnav-right">
        {% if user.is_authenticated %}
            <a><b>Witaj {{ user }}</b></a>
            <a href="{% url 'logout' %}">Wyloguj się</a>
            <a href="{% url 'profile' %}">Mój profil</a>
        {% else %}
            <a href="{% url "signup" %}">Zarejestruj się</a>
            <a href="{% url 'login' %}">Zaloguj się</a>
        {% endif %}
        </div>
    </div>
    <div class="sidenav">
      <a href="#">Test4</a>
      <a href="#">Test5</a>
      <a href="#">Test6</a>
    </div>

<div class="main">
{% block content %}
{% endblock %}
</div>
</body>
</html>