{% extends 'base.html' %}
{% block content %}
        <div class="case-details">
            <div class="case-list-text">
            <b>{{ case.get_type_display }}</b>
            <p>Status ogłoszenia: {{ case.get_status_display }}</p>
                {% if user.is_authenticated %}
                {% if observed is not None %}
                <p>Obserwujesz już to ogłoszenie.</p> <a href="/case/{{case.pk}}/remove_from_observed/{{observed.pk}}/">Przestań obserwować</a>
                {% else %}
                <a href="/case/{{case.pk}}/add_to_observed/">Obserwuj ogłoszenie</a>
                {% endif %}
                {% endif %}
                {% if user.is_superuser %}
               {% if case.status == 0 %}
                 <a href="/case/{{case.pk}}/close/">Zamknij ogłoszenie</a>
                {% endif %}
                <a href="/case/{{case.pk}}/delete/">Usuń ogłoszenie</a>
                {% endif %}
            </div>
        {% if case.photos.all %}
            <div class="photos">
            {% for photo in case.photos.all%}
                <div class="case-photo">
                    <img id="caseImg" class="photo-small" src={{photo.photo.url}}>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="case-empty-photo">
                <i>Brak zdjęć</i>
            </div>
        {% endif %}

            <div class="case-list-text">
                <p>{{ case.description }}</p>
                <p><b>Lokalizacja: {{case.place}}</b></p>
                <p>Data dodania: {{ case.date }}</p>
                {% if case.user %}
                <p>Zgłoszone przez: <i>{{ case.user }}</i></p>
                {% else %}
                <p>Zgłoszone przez: <i>anonim</i></p>
                {% endif %}
                {% if user == case.user %}
                <a href="/case/{{case.pk}}/edit/"><button class="edit-button">Edytuj ogłoszenie</button></a>
                {% endif %}
            </div>
        </div>
            {% if comments %}
                <div class="comment">
                    <p>Komentarze</p>
                    {% if case.status == 0 %}
                    <a href="/case/{{case.pk}}/comment"><button class="edit-button">Dodaj komentarz</button></a><br>
                    {% endif %}
            {% for com in comments %}
                <div class="comment-text">
                    <p>{{ com.content }}</p>
                    <hr>
                    <div class="comment-footer">
                        <p>Autor: {{ com.user.username }}</p>
                        <p>Dodano: {{ com.date }}</p>
                        {% if user == com.user %}
                        <a href="/case/{{case.pk}}/comment/{{com.pk}}"><button class="edit-button">Edytuj</button></a>
                        {% endif %}
                        {% if user == com.user or user.is_superuser %}
                        <a href="/case/{{case.pk}}/{{com.pk}}/delete"><button class="delete-button">Usuń</button></a>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
                    </div>
            {% else %}
                <div class="comment">
                    <p>Komentarze</p>
                    <div class="comment-text">
                        <p>Brak komentarzy</p>
                    </div>
                </div>
            {% endif %}
        </div>
    {% include 'photo_modal.html' %}
{% endblock %}