body {
  margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: darkolivegreen;
    /*display: flex;*/
    /*justify-content: flex-end;*/
    height: 48px;
}

.topnav h3 {
    margin: 0px;
    float: left;
    color: lightcyan;
    text-align: center;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;

    text-decoration: none;
    font-size: 20px;
}

.topnav a {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
}

.topnav button {
    background: darkgoldenrod;
    border-radius: 5px;
    color: #f2f2f2;
    box-shadow: 4px 4px 10px black;
}

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 48px;
  left: 0;
  background-color: darkkhaki;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #f2f2f2;
  display: block;
}

.main {
  margin-left: 100px;
  font-size: 20px;
  padding: 10px 10px;
}
